body {
  font-family: 'Poppins', sans-serif;
  height: 100%;
  background-color: #ffffff;
  overflow-y: scroll;
  /* Always show scrollbar */
  margin-right: calc(-1 * (100vw - 100%));
  /* Set margin to the width of the scrollbar */
}

header {
  background-color: #ccc;
  border-radius: 10px;
  position: relative;
  padding-top: 0.01%;
  padding-bottom: 0.01%;
  padding-left: 2%;
  padding-right: 2%;
}

.container {
  position: absolute;
  top: 88px;
  bottom: 1;
  left: 0;
  right: 0;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #e6e6e6;
  border-radius: 10px;
  padding: 2%;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

main {
  padding-bottom: 60px;
  /* Set the padding at the bottom of the main element to the height of the footer */
}

.image-container {
  float: left;
  /* Float the image to the left */
  margin-right: 2%;
  /* Add a margin to the right of the image */
}

.text-container {
  overflow: hidden;
  /* Clear the float */
}

/* Styles för index - denna lånas till alla sidor */
.google-font {
  font-size: 36px;
  color: #333;
}

.about-me {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 20px;
  margin-left: 20px;
}

/* Styles för portfolio */

.project-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.project-h1 {
  font-size: 36px;
}

.project-list li {
  margin-bottom: 20px;
}

.project-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.project-description {
  font-size: 18px;
  line-height: 1.5;
  text-decoration: none;
}

.project-image {
  border-radius: 10px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  border: 2px solid black;
  max-width: 100%; /* set the initial max-width to 100% */
  height: auto; /* set the initial height to auto */
}

/* set a maximum width for larger screens */
@media (min-width: 768px) {
  .project-image {
    max-width: 800px;
  }
}

/* set a maximum width for smaller screens */
@media (max-width: 767px) {
}


.project-details {
  display: inline-block;
  padding: 10px 20px;
  background-color: #23a9da;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.project-details:hover {
  background-color: #23a9dacc;
}

.project-details:active {
  transform: translateY(2px);
  box-shadow: none;
  background-color: #187496;
}

.github-link {
  display: inline-block;
  margin-top: 6.5%;
  margin-right: 5%;
  padding: 1% 2%;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
  right: 0;
}

.github-link:hover {
  background-color: #555;
}

.github-link:active {
  transform: translateY(2px);
  /* move the button down by 2px when clicked */
  box-shadow: none;
  /* remove any box-shadow when clicked */
}

/* Styles för kontakt */
.contact-info {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.map-container {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
}

/* Styles för navigering och sidfot */
nav {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 9999;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, #9e27b0, #00bcd4);
  background-size: 400% 400%;
  animation: gradient 40s ease infinite;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: 8px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  border-left: 8px solid #ffffff;
  border-right: 8px solid #ffffff;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

nav ul {
  list-style: none;
  margin: 10;
  padding: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

nav a:hover {
  color: #ffffff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ffffff, 0 0 70px #ffffff, 0 0 80px #ffffff, 0 0 100px #ffffff, 0 0 150px #ffffff;
}

nav a:active {
  color: #c5c5c571;
  text-shadow: none;
}

/*footer*/
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #33333346;
  color: #fff;
  text-align: center;
  border-radius: 10px;
}

footer hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}